p{color:#6c757d !important}
img{max-width:100%;
    height:auto;
    border-radius:10px !important}
li{
    text-align: justify;
}
p{
    line-height: '1.8';text-align:"justify" 
}
*{
    text-align: left;
}
h1{
    text-align: center;
}